CallProxyApplication/CallProxyApplication/Connected Services/echoService/echo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax2608="http://echo.services.core.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://echo.services.core.carbon.wso2.org" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://echo.services.core.carbon.wso2.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>echo</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://echo.services.core.carbon.wso2.org/xsd">
      <xs:complexType name="SimpleBean">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="a_r" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="b_r" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="c" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax2609="http://echo.services.core.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://echo.services.core.carbon.wso2.org">
      <xs:import namespace="http://echo.services.core.carbon.wso2.org/xsd" />
      <xs:element name="throwAxisFault">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="throwAxisFaultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoStringArrays">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="a" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="b" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="c" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoStringArraysResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax2609:SimpleBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoOMElement">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="omEle" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoOMElementResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoInt">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="in" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoIntResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoString">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="in" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="echoStringResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="echoOMElementRequest">
    <wsdl:part name="parameters" element="ns:echoOMElement" />
  </wsdl:message>
  <wsdl:message name="echoOMElementResponse">
    <wsdl:part name="parameters" element="ns:echoOMElementResponse" />
  </wsdl:message>
  <wsdl:message name="throwAxisFaultRequest">
    <wsdl:part name="parameters" element="ns:throwAxisFault" />
  </wsdl:message>
  <wsdl:message name="throwAxisFaultResponse">
    <wsdl:part name="parameters" element="ns:throwAxisFaultResponse" />
  </wsdl:message>
  <wsdl:message name="echoIntRequest">
    <wsdl:part name="parameters" element="ns:echoInt" />
  </wsdl:message>
  <wsdl:message name="echoIntResponse">
    <wsdl:part name="parameters" element="ns:echoIntResponse" />
  </wsdl:message>
  <wsdl:message name="echoStringArraysRequest">
    <wsdl:part name="parameters" element="ns:echoStringArrays" />
  </wsdl:message>
  <wsdl:message name="echoStringArraysResponse">
    <wsdl:part name="parameters" element="ns:echoStringArraysResponse" />
  </wsdl:message>
  <wsdl:message name="echoStringRequest">
    <wsdl:part name="parameters" element="ns:echoString" />
  </wsdl:message>
  <wsdl:message name="echoStringResponse">
    <wsdl:part name="parameters" element="ns:echoStringResponse" />
  </wsdl:message>
  <wsdl:portType name="echoPortType">
    <wsdl:operation name="echoOMElement">
      <wsdl:input wsaw:Action="urn:echoOMElement" message="ns:echoOMElementRequest" />
      <wsdl:output wsaw:Action="urn:echoOMElementResponse" message="ns:echoOMElementResponse" />
    </wsdl:operation>
    <wsdl:operation name="throwAxisFault">
      <wsdl:input wsaw:Action="urn:throwAxisFault" message="ns:throwAxisFaultRequest" />
      <wsdl:output wsaw:Action="urn:throwAxisFaultResponse" message="ns:throwAxisFaultResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoInt">
      <wsdl:input wsaw:Action="urn:echoInt" message="ns:echoIntRequest" />
      <wsdl:output wsaw:Action="urn:echoIntResponse" message="ns:echoIntResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoStringArrays">
      <wsdl:input wsaw:Action="urn:echoStringArrays" message="ns:echoStringArraysRequest" />
      <wsdl:output wsaw:Action="urn:echoStringArraysResponse" message="ns:echoStringArraysResponse" />
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <wsdl:input wsaw:Action="urn:echoString" message="ns:echoStringRequest" />
      <wsdl:output wsaw:Action="urn:echoStringResponse" message="ns:echoStringResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="echoSoap11Binding" type="ns:echoPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echoOMElement">
      <soap:operation soapAction="urn:echoOMElement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="throwAxisFault">
      <soap:operation soapAction="urn:throwAxisFault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoInt">
      <soap:operation soapAction="urn:echoInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStringArrays">
      <soap:operation soapAction="urn:echoStringArrays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <soap:operation soapAction="urn:echoString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="echoSoap12Binding" type="ns:echoPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echoOMElement">
      <soap12:operation soapAction="urn:echoOMElement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="throwAxisFault">
      <soap12:operation soapAction="urn:throwAxisFault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoInt">
      <soap12:operation soapAction="urn:echoInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStringArrays">
      <soap12:operation soapAction="urn:echoStringArrays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <soap12:operation soapAction="urn:echoString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="echoHttpBinding" type="ns:echoPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="echoOMElement">
      <http:operation location="echoOMElement" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="throwAxisFault">
      <http:operation location="throwAxisFault" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoInt">
      <http:operation location="echoInt" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStringArrays">
      <http:operation location="echoStringArrays" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <http:operation location="echoString" />
      <wsdl:input>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="echo">
    <wsdl:port name="echoHttpSoap11Endpoint" binding="ns:echoSoap11Binding">
      <soap:address location="http://lahiru-ThinkPad-X1-Carbon-4th:8280/services/echo.echoHttpSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="echoHttpsSoap11Endpoint" binding="ns:echoSoap11Binding">
      <soap:address location="https://lahiru-ThinkPad-X1-Carbon-4th:8243/services/echo.echoHttpsSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="echoHttpSoap12Endpoint" binding="ns:echoSoap12Binding">
      <soap12:address location="http://lahiru-ThinkPad-X1-Carbon-4th:8280/services/echo.echoHttpSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="echoHttpsSoap12Endpoint" binding="ns:echoSoap12Binding">
      <soap12:address location="https://lahiru-ThinkPad-X1-Carbon-4th:8243/services/echo.echoHttpsSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="echoHttpEndpoint" binding="ns:echoHttpBinding">
      <http:address location="http://lahiru-ThinkPad-X1-Carbon-4th:8280/services/echo.echoHttpEndpoint" />
    </wsdl:port>
    <wsdl:port name="echoHttpsEndpoint" binding="ns:echoHttpBinding">
      <http:address location="https://lahiru-ThinkPad-X1-Carbon-4th:8243/services/echo.echoHttpsEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>